header {
    text-align: center;
    padding: 37px 0 24px 0;
}

.menu li a{
    color: #102955;
    font-size: 500 1em "Poppins", sans-serif;
    display: inline-block;
    padding: 37px 0;
}


@media only screen and (min-width: 768px)