:root {
    --yasil: #a1c927;
    --qirmizi: #fd634d;
}
header {
    position: relative;
    height: 100vh;
    background: url('../img/headerbg.jpg') 60%/cover;
    text-align: center; 
}
nav { 
    padding: 40px 50px;
}
nav, #title {
    position: absolute; 
    width: 100%;
}
#title { bottom: 17vh }
h1 {
    font: 2em "Myriad Pro";
    text-transform: uppercase;
}
h2 {
    font: 2em 'Open Sans';
    text-transform: uppercase;
}
h3 {
    font: 1.5em 'Open Sans';
    padding: 20px 0 30px 0;
}
h5 {
    font: 1em "Myriad Pro";
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 10px 20px
}
h6 { 
    font: .8em 'Montserrat';
    text-transform: uppercase;
}
#menu li a {
    font: .75em "Avenir Next Rounded Std";
    text-transform: uppercase;
    color: #fff;
}

.bgag { background-color: #fff }
.bgyasil { background-color: var(--yasil) }
.bgqirmizi { background-color: var(--qirmizi) }
.txtag { color: #fff }
.txtyasil { color: var(--yasil) }
.txtqirmizi { color: var(--qirmizi) }

.article4 { padding: 80px 0; text-align: center; }
.article4 article { padding: 40px 10px;}
.article4 article i {  font-size: 3em; }

.center { text-align: center }
.artpadding { padding: 50px 40px }

.vh50 { min-height: 50vh;}

#fitnessfirst { background: url('../img/fitnessfirst.jpg') center/cover;}
#yourbody { background: url('../img/yourbody.jpg') center/cover; }
#lifestyle { background: url('../img/lifestyle.jpg') center/cover; }
#summeroffun { background: url('../img/summeroffun.jpg') center/cover; }
#grape { background: url('../img/grape.jpg') center/cover; }
#mango { background: url('../img/mango.jpg') center/cover; }


@media only screen and (min-width: 768px) {
    h1 { font-size: 2.5em; }
    h2 {font-size: 2.5em; }
    header { text-align: initial; }
    #menu { float: right }
    #menu li { 
        display: inline-block; 
        padding: 0 2vw;
    }
    #title { 
        width: initial;
        left: 7vw;
        text-align: right;
    }

    .container { 
        max-width: 1180px;
        margin: auto;
    }
    .row::after { display: table; content: ''; clear: both; }
    .article4 { text-align: initial; }
    .col25 { width: 25%; }
    .col33 { width: 33.33%;}
    .col66 { width: 66.66%;}
    .fleft { float: left; }
    .fright { float: right; }
}